<div class="jumbotron">


  <h1>[<%= @resource.course.course_code %>: <%= @resource.course.course_name %>] <%= @resource.title %></h1>
  <a href="<%= course_path(@resource.course) %>"><p class="lead">Course</p></a>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Details</h5>
   <p class="card-text"><b>File: </b><%= link_to 'Download', remote: true %>
   <br><b>Created At: </b><%= @resource.created_at %><br><b>Description: </b><%= @resource.description %><br><b>Hyperlink: </b><%= @resource.hyperlink %><br></p> 

    <%
=begin%>
 <p class="card-text"><b>File: </b><%= @resource.encrypted_file %><br><b>Created At: </b><%= @resource.created_at %><br><b>Description: </b><%= @resource.description %><br><b>Hyperlink: </b><%= @resource.hyperlink %><br></p> 
<%
=end%>
  </div>
</div>
<br><br>

<br>
<%= link_to 'Back', course_path(@resource.course) %>

<script>
  $(document).ready(function() {
    $('.card-text').on('ajax:success', function(event, data, status, xhr) {
      window.location.href = '<%= decrypt_resource_path(@resource) %>';
    });
  });
</script>

